<div class="container">
    <h3 class="title">Edita un SuperHeroe</h3>

    <form [formGroup]="heroForm">
        <div>
            <div class="error-messages">

                <small
                    *ngIf="heroForm.get('name')?.hasError('minlength') && (heroForm.get('name')?.dirty || heroForm.get('name')?.touched)">
                    La longitud mínima de este campo es {{heroForm.get('name')?.errors?.["minlength"]?.requiredLength}}
                    caracteres.
                </small>
                <small
                    *ngIf="heroForm.get('name')?.hasError('required') && (heroForm.get('name')?.dirty || heroForm.get('name')?.touched)">
                    Este campo es obligatorio
                </small>
            </div>
            <mat-form-field appearance="outline">
                <mat-label>Nombre </mat-label>
                <input toUpperCase matInput formControlName="name">
            </mat-form-field>

        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>SuperPoderes</mat-label>
                <mat-chip-grid #chipGrid aria-label="Añade un SuperPoder" formControlName="powers">
                    <mat-chip-row *ngFor="let hero of powersOfHero.value" (removed)="remove(hero)">
                        {{hero}}
                        <button matChipRemove aria-label="'Borrar ' + keyword">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                </mat-chip-grid>
                <input placeholder="Nuevo SuperPoder..." [matChipInputFor]="chipGrid"
                    (matChipInputTokenEnd)="addPowerToHero($event)" />
            </mat-form-field>
        </div>

        <div class="form-footer">
            <button mat-button (click)="goBack()">Cancelar</button>
            <button mat-raised-button color="primary" (click)="updateHero()"
                [disabled]="heroForm.invalid">Guardar</button>
        </div>
    </form>
</div>